<h2>Por {{title}}:</h2>
<hr>

<!-- Sección Input -->
<div class="row">
  <div class="col">
    <app-pais-input
    [title]="title"
    (onEnter)="buscar($event)"
    (onDebounce)="sugerencias($event)">
  </app-pais-input>
  </div>
</div>
<!-- Fin sección Input -->

  <!-- Seccion sugerencias pais -->
  <ul class="list-group">
    <li *ngFor="let paisSugerido of paisesSugeridos"
    class="list-group-item list-group-item-action"
    (click)="buscar(paisSugerido.name.common)"

    >
      {{paisSugerido.name.common}}
    </li>
  </ul>
  <!-- Sin seccion sugerencias pais -->

<hr>
<!-- Mensaje Error -->
<div  *ngIf="hayError"
class="alert alert-danger">
  No se encontró nada con el término : {{termino}}
</div>
<!-- Fin mensaje error -->

<div *ngIf="paises.length>0" class="row">
  <div class="col">
    <!-- Tabla Resutados -->
    <app-pais-tabla
    [paises]="paises">
    </app-pais-tabla>
    <!-- Fin Tabla Resultados -->
  </div>
</div>

